@using LearningManagementSystem.Models.Enums
@model LearningManagementSystem.Repositories.Employees.Dtos.EmployeeDto
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit Employee.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="SelectedCourseId" id="SelectedCourseId" value="@Model.CourseId" />

    <div class="form-group">
        <label for="FirstName" class="col-md-2 control-label">FirstName</label>
        <div class="col-md-10">
            <input type="text" name="FirstName" id="FirstName" value="@Model.FirstName" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="LastName" class="col-md-2 control-label">LastName</label>
        <div class="col-md-10">
            <input type="text" name="LastName" id="LastName" value="@Model.LastName" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="DateOfBirth" class="col-md-2 control-label">DateOfBirth</label>
        <div class="col-md-10">
            <input type="text" name="DateOfBirth" id="DateOfBirth" value="@Model.DateOfBirth" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="ContactNo" class="col-md-2 control-label">ContactNo</label>
        <div class="col-md-10">
            <input type="text" name="ContactNo" id="ContactNo" value="@Model.ContactNo" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Gender" class="col-md-2 control-label">Gender</label>
        <div class="col-md-10">
            <select class="form-control" name="Gender" id="Gender" required>
                @foreach (var item in Enum.GetValues(typeof(Gender)))
                {
                    if (item.ToString() == Model.Gender.ToString())
                    {
                        <option value="@((byte)item)" selected>@(item.ToString())</option>
                    }
                    else
                    {
                        <option value="@((byte)item)">@(item.ToString())</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Designation" class="col-md-2 control-label">Designation</label>
        <div class="col-md-10">
            <select class="form-control" name="Designation" id="Designation" required>
                @foreach (var item in Enum.GetValues(typeof(Designation)))
                {
                    if (item.ToString() == Model.Designation.ToString())
                    {
                        <option value="@((byte)item)" selected>@(item.ToString())</option>
                    }
                    else
                    {
                        <option value="@((byte)item)">@(item.ToString())</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="email" name="Email" id="Email" value="@Model.Email" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="text" name="Password" id="Password" value="@Model.Password" class="form-control" required />
        </div>
    </div>

    <div class="form-group" id="divCourses">
        <label for="Courses" class="col-md-2 control-label">Course</label>
        <div class="col-md-10">
            <select class="form-control" name="CourseId" id="Courses" required>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-warning" value="Update" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    window.onload = function () {
        if (window.jQuery) {

            var ddlCourses = $('#Courses');

            ddlCourses.empty();
            $.ajax({
                type: "GET",
                url: "/Employees/GetAllCourses",
                data: {},
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    ddlCourses.append('<option value=""></option>');
                    $.each(response.courseDtos, function (i, item) {
                        var selectedCourseId = $('#SelectedCourseId').val();
                        if (item.Id == parseInt(selectedCourseId)) {
                            ddlCourses.append('<option value="' + item.Id + '" selected>' + item.Title + '</option>');
                        } else {
                            ddlCourses.append('<option value="' + item.Id + '">' + item.Title + '</option>');
                        }


                    });
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });


            var divCourses = $('#divCourses');
            if ($('#Designation').val() == "2") {
                $('#Courses').prop('required', true);
                divCourses.show();
            } else {
                $('#Courses').prop('required', false);
                divCourses.hide();
            }

            // When you select CourseCoordinator as a designation => 2 
            $('#Designation').on('change', function () {
                if ($('#Designation').val() == "2") {
                    $('#Courses').prop('required', true);
                    divCourses.show();
                } else {
                    $('#Courses').prop('required', false);
                    divCourses.hide();
                }
            });

        } else {
            alert("jQuery is not loaded");
        }
    }
</script>

