@model IList<LearningManagementSystem.Repositories.Students.Dtos.StudentDto>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<a href="@Url.Action("Register", "Students")" class="btn btn-primary">Register</a>
<hr />
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark alert-info">
            <tr>
                <th scope="row">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Course</th>
                <th scope="col">Gender</th>
                <th scope="col">ContactNo</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 1; }
            @foreach (var student in Model)
            {
                <tr>
                    <th scope="row">@(index++)</th>
                    <td>@string.Format("{0} {1}", student.FirstName, student.LastName)</td>
                    <td>@student.Course.Title</td>
                    <td>@student.Gender.ToString()</td>
                    <td>@student.ContactNo</td>
                    <td>@student.Email</td>
                    <td>
                        <a href="@Url.Action("Edit", "Students", new { student.Id })">Edit</a> / <a href="@Url.Action("Delete", "Students", new { student.Id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>