@using LearningManagementSystem.Models.Enums
@model LearningManagementSystem.Repositories.Attachments.Dtos.AttachmentDto
@{
    ViewBag.Title = "Attachment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Attachments", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit attachment</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    <input type="hidden" name="EmployeeId" id="EmployeeId" value="@Model.EmployeeId" />
    <input type="hidden" name="courseId" id="courseId" value="@Request.QueryString["courseId"]" />
    <input type="hidden" name="selectedSubjectId" id="selectedSubjectId" value="@Model.SubjectId" />
    <input type="hidden" name="AttachmentFileName" id="AttachmentFileName" value="@Model.AttachmentFileName" />

    <div class="form-group">
        <label for="Subjects" class="col-md-2 control-label">Subjects</label>
        <div class="col-md-10">
            <select class="form-control" name="SubjectId" id="Subjects" required></select>
        </div>
    </div>

    <div class="form-group">
        <label for="Title" class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
            <input type="text" name="Title" id="Title" class="form-control" value="@Model.Title" required />
        </div>
    </div>

    <div class="form-group">
        <label for="AttachmentType" class="col-md-2 control-label">Attachment Type</label>
        <div class="col-md-10">
            <select name="AttachmentType" id="AttachmentType" class="form-control" required>
                @foreach (var item in Enum.GetValues(typeof(AttachmentType)))
                {
                    if (item.ToString() == Model.AttachmentType.ToString())
                    {
                        <option value="@((byte)item)" selected>@(item.ToString())</option>
                    }
                    else
                    {
                        <option value="@((byte)item)">@(item.ToString())</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="DueDate" class="col-md-2 control-label">Due Date</label>
        <div class="col-md-10">
            <input type="datetime" name="DueDate" id="DueDate" value="@Model.DueDate" class="form-control" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Status" class="col-md-2 control-label">Status</label>
        <div class="col-md-10">
            <select name="Status" id="Status" class="form-control" required>
                @foreach (var item in Enum.GetValues(typeof(AttachmentStatus)))
                {
                    if (item.ToString() == Model.Status.ToString())
                    {
                        <option value="@((byte)item)" selected>@(item.ToString())</option>
                    }
                    else
                    {
                        <option value="@((byte)item)">@(item.ToString())</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">File</label>
        <div class="col-md-10">
            <input type="file" class="form-control" name="newFile" id="newFile">
        </div>
        <div class="col-md-offset-2 col-md-10" style="padding-top: 10px;">
            <p class="text-info">@Model.AttachmentFileName</p>
            <td>@Html.ActionLink("Download Here", "DownloadAssignment", "Attachments", new { fileName = Model.AttachmentFileName }, new { @target = "_blank" })</td>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-warning" value="Update" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    window.onload = function () {
        if (window.jQuery) {

            var ddlSubjects = $('#Subjects');

            courseId = parseInt($('#courseId').val());

            ddlSubjects.empty();

            $.ajax({
                type: "GET",
                url: "/Attachments/GetSubjectsByCourseId",
                data: { courseId: courseId },
                contentType: "application/json",
                dataType: "json",
                success: function (response) {

                    var selectedSubject = parseInt($('#selectedSubjectId').val());

                    $.each(response.subjectDtos, function (i, item) {
                        if (item.Id == selectedSubject) {
                            ddlSubjects.append('<option value="' + item.Id + '" selected>' + item.Title + '</option>');
                        } else {
                            ddlSubjects.append('<option value="' + item.Id + '">' + item.Title + '</option>');
                        }

                    });
                },
                error: function (xhr, status, error) {
                    alert("Invalid Subject! Please reload the page");
                }
            });

        } else {
            alert("jQuery is not loaded");
        }
    }
</script>

