@using LearningManagementSystem.Models.Enums
@model LearningManagementSystem.ViewModels.ViewAttachmentsForStudentVM
@{
    ViewBag.Title = "Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #3498db;
    }

        a:hover {
            text-decoration: none;
            color: #2980b9;
        }

    .active {
        background-color: #ecf0f1;
    }

    .table > thead > tr > th {
        border-bottom: 1px solid #95a5a6;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: 1px solid #ecf0f1;
    }

    h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>

<br />
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <h3>@Model.Student.FirstName @Model.Student.LastName</h3>
            <table class="table table-hover table-bordered">
                <thead></thead>
                <tbody>
                    <tr>
                        <td><b>Course</b></td>
                        <td>@Model.Student.Course.Title</td>
                    </tr>
                    <tr>
                        <td><b>Subject</b></td>
                        <td>@Model.Subject.Title</td>
                    </tr>
                    <tr>
                        <td><b>Semester</b></td>
                        <td>@Model.Subject.Semester.ToString()</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <h3>Attachmments of @Model.Student.Course.Title</h3>
            <table class="table table-hover table-bordered" id="assignment-submission-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Due Date</th>
                        <th>Upload</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var index = 1; }
                    @foreach (var attachment in Model.Attachments)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@Html.ActionLink(attachment.Title, "DownloadAssignment", "StudentProfile", new { fileName = attachment.AttachmentFileName }, new { @target = "_blank" })</td>
                            <td>@attachment.AttachmentType @(attachment.Status == AttachmentStatus.Expired ? " - Expired" : "" )</td>
                            <td>@attachment.DueDate</td>
                            <td>
                                @if (attachment.AttachmentType == AttachmentType.Assignment)
                                {
                                    <input type="file" name="newFile" id="newFile">
                                }
                                else
                                {
                                    <p>For Reference</p>
                                }
                            </td>
                            <td>
                                @if (attachment.AttachmentType == AttachmentType.Assignment)
                                {
                                    <a href="#" class="btn btn-sm btn-primary assignment-submission"
                                       data-attachment-id="@attachment.Id"
                                       data-student-id="@Model.Student.Id"
                                       data-subject-id="@attachment.SubjectId">Submit</a>
                                }
                                else
                                {
                                    <p>N/A</p>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        if (window.jQuery) {

            $("#assignment-submission-table").on('click', '.assignment-submission', function () {
                var attachmentId = $(this).attr("data-attachment-id");
                var studentId = $(this).attr('data-student-id');
                var subjectId = $(this).attr('data-subject-id');

                var _file = $(this).closest("tr").find("#newFile");

                if (_file.get(0).files.length !== 0) {
                    var formData = new FormData();
                    var files = _file[0].files[0];

                    myfile = _file.val();
                    var ext = myfile.split('.').pop();

                    if (ext == "pdf" || ext == "docx" || ext == "doc") {
                        alert("Yes");
                        formData.append('newFile', files);
                        formData.append('studentId', parseInt(studentId));
                        formData.append('attachmentId', parseInt(attachmentId));
                        formData.append('subjectId', parseInt(subjectId));

                        $.ajax({
                            type: "POST",
                            url: "/StudentProfile/UploadFile",
                            data: formData,
                            contentType: false,
                            processData: false
                        });
                    } else {
                        alert("File format should be PDF, DOC or DOCX");
                    }
                } else {
                    alert("Select a file to proceed!");
                }
            });


        } else {
            alert("jQuery is not loaded");
        }
    }

</script>