@using LearningManagementSystem.Models.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["isEmployee"] != null)
                    {
                        if ((bool)Session["isEmployee"])
                        {
                            if (Session["designation"].ToString() == Designation.GeneralManager.ToString())
                            {
                                <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                                <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                                <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                            }

                            if (Session["designation"].ToString() == Designation.CourseCoordinator.ToString())
                            {
                                var employeeId = Session["employeeId"].ToString();

                                var courseCoordinatorCourseId = Session["CourseCoordinatorCourseId"].ToString();

                                <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                                <li><a href="@Url.Action("Index", "Attachments", new { employeeId = employeeId, courseId = courseCoordinatorCourseId })">Attachment Uploading Panel</a></li>
                            }

                            if (Session["designation"].ToString() == Designation.Lecturer.ToString())
                            {
                                var employeeId = Session["employeeId"].ToString();
                                var _employeeId = Convert.ToInt16(employeeId);


                                var lectureSubjectId = Session["LecturerSubjectId"].ToString();
                                var _lectureSubjectId = Convert.ToInt16(lectureSubjectId);

                                <li><a href="@Url.Action("Corrections", "Employees", new { employeeId = employeeId })">Assignments to Correct</a></li>
                            }
                        }
                    }

                    @if (Session["isStudent"] != null)
                    {
                        if ((bool)Session["isStudent"])
                        {
                            <li>@Html.ActionLink("Student Profile", "Index", "StudentProfile")</li>
                        }
                    }

                    <li>@Html.ActionLink("Results", "Results", "Students")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
